{% extends "mrsregister/base.html" %}
{% block content %}

<!--Search bar-->
<div class="row height d-flex justify-content-center align-items-center">
  <div class="col-md-8">
    <br>
    <form class="search" method="get" width="18rem;">
      <i class="fa fa-search"></i>
      <input type="text" class="form-control" placeholder="Search for a module here..." value="{{search_query}}" name="search_query">
      <p></p>
      <button class="btn btn-primary">Search</button>
      <p></p>
    </form>
  </div>
</div>
<!--Module cards-->
<div class="container mx-auto mt-4">
  <div class="row">
    <div class="col-md-4">
      {% for module in modules %}
      <div class="card" style="width: 18rem;">
  <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{% for per in module.courses.all %} {{ per }} {% endfor %}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Module Code: {{ module.code }}, Module Name: {{ module.name }}</h6>
    <p class="card-text">{{ module.description }}</p>
       <a href="{% url 'registrations' module.id %}" class="btn mr-2"><i class="fas fa-link"></i> Register</a>
    <a href="#" class="btn "><i class="fab fa-github"></i> Unregister</a>
  </div>
  </div>
  <p></p> <!-- <p> tag to enable some padding between cards-->
    {% endfor %}

{% endblock content %}
      
    