{% extends "mrsregister/base.html" %}
{% block content %}
<style>
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }
</style>
<body>
    <h1>About your Module Registeration System</h1>
    <p>Welcome to your Module Registeration System, your one-stop destination for seamless and convenient module registration. We understand the complexities of navigating the module registration process, which is why we have designed a user-friendly platform that simplifies every step, from registration to selecting modules that align with your course requirements. Whether you're a new student embarking on your academic journey or a returning student seeking to finalize your course selections, your Module Registeration System is your trusted guide. Our intuitive interface allows you to easily access module information, view available options, and make informed decisions about your academic path. With your Module Registeration System, module registration is no longer a daunting task; it's a streamlined process that empowers you to take control of your learning experience.</p>
</body>
{% endblock content %}